.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-height: 100vh;
}

.img {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 60%;
  width: 80%;
  overflow: hidden;
  margin-bottom: 24px;
}

.img .logo {
  min-width: 100%;
  object-fit: cover;
}
